[user]
	name = atsushi130
	email = atsushi_main@outlook.jp
[core]
	excludesfile = ~/.gitignore
	editor = vim -c \"set fenc=utf-8\"
	quotepath = false
	filemode = false
[alias]
    tree = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    checkouter = "!f () {\
        if [ $# -eq 0 -a `which fzf` ]; then\
            git branch -a --sort=authordate | fzf --ansi --reverse --prompt='git checkout ' | tr -d ' \\*' | sed -e 's/remotes\\/origin\\///' | xargs -n 1 git checkout;\
        elif [ $# -ge 1 ]; then\
            git checkout ${@};\
        fi;\
    };f"
    branchd = "!f () {\
        if [ $# -eq 0 -a `which fzf` ]; then\
            git branch --sort=authordate | fzf --ansi --reverse --prompt='delete branch is ' | tr -d ' \\*' | xargs -n 1 git branch -D;\
        elif [ $# -ge 1 ]; then\
            git branch -D ${@};\
        fi;\
    };f"
[merge]
	ff = false
