[user]
    name = atsushi130
    email = atsushi_main@outlook.jp
[core]
    excludesfile = ~/.gitignore
    editor = vim -c \"set fenc=utf-8\"
    quotepath = false
    filemode = false
[alias]
    tree = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    develop = checkout develop
    cleanup = "!f () {\
        git clean -df > /dev/null;\
        echo 'delete untracked files.';\
    };f"
    c = checkout
    cm = commit -m
    s = status
    p = push -u origin
    d = diff
    pr = "!f () {\
        hub pr list | fzf-tmux -d 35% --preview 'echo ❯ open pull request {}' --preview-window down:1 --ansi --reverse --prompt='open pull request ' | awk '{print $1}' | tr -d \"#\" | xargs -Ino open https://github.com/bank/cash-ios/pull/no;\
    };f"
    clear = "!f () {\
        git cleanup > /dev/null;\
        git status | grep modified: | sed -e 's/modified://' | tr -d ' \\*' | xargs -n 1 git checkout;\
    };f"
    cr = "!f () {\
        git branch -a --sort=authordate | fzf-tmux -d 35% --preview 'echo ❯ git checkout {}' --preview-window down:1 --ansi --reverse --prompt='git checkout ' | tr -d ' \\*' | sed -e 's/remotes\\/origin\\///' | xargs -n 1 git checkout;\
    };f"
    cf = "!f () {\
        git status | grep modified: | sed -e 's/\tmodified:   //' | fzf-tmux -d 35% --preview 'echo ❯ git checkout {}' --preview-window down:1 --ansi --reverse --prompt='git checkout ' | tr -d ' \\*' | xargs -n 1 git checkout;\
    };f"
    untrackd = "!f () {\
        git clean -dn | sed -e 's/Would remove //' | fzf-tmux -d 35% --preview 'echo ❯ rm -rf {}' --preview-window down:1 --ansi --reverse --prompt='remove ' | tr -d ' \\*' | xargs -n 1 rm -rf;\
    };f"
    differ = "!f () {\
        git status | grep modified: | sed -e 's/\tmodified:   //' | fzf-tmux -d 35% --preview 'echo ❯ git diff {}' --preview-window down:1 --ansi --reverse --prompt='git diff ' | tr -d ' \\*' | xargs -n 1 git diff;\
    };f"
    bd = "!f () {\
        git branch --sort=authordate | fzf-tmux -d 35% --preview 'echo ❯ git branch -D {}' --preview-window down:1 --ansi --reverse --prompt='delete branch is ' | tr -d ' \\*' | xargs -n 1 git branch -D;\
    };f"
[ghq]
	root = /Users/atsushi/workspace
