<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.asana.atsushi</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0A162C00-0F63-495D-B387-421BDEECEBF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BCB9534-C235-45AD-9E23-F3B985398AD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D7748CE-2ACD-4B58-BDB7-C0C61DBAF26B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C54EAE7-56B8-4647-8E40-C753ADDD6CEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C54EAE7-56B8-4647-8E40-C753ADDD6CEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3025EFCE-04AC-4194-B8F9-8BC710AD7A26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>354E2DD0-8D98-40D2-8758-F59946C2925D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCE8E1D5-0E70-4A87-9CEA-3EADBD05EA5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>377E61D4-5B47-4D0F-A610-1ECDD4320472</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3025EFCE-04AC-4194-B8F9-8BC710AD7A26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BCB9534-C235-45AD-9E23-F3B985398AD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3025EFCE-04AC-4194-B8F9-8BC710AD7A26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CA107DB-ABF0-47DA-A0DB-221397ADFB36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8C8E10D-138B-4BA8-B844-50193BFF888F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D888E77-DA94-4BC2-9E10-1986232D0735</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA80C35B-B5FE-49B8-8403-50B633CB98C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D0C7DE1-85C4-4272-B698-6779A496AEFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3025EFCE-04AC-4194-B8F9-8BC710AD7A26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DF46006-DFE1-4BC7-85E0-F029B12EBCF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>377E61D4-5B47-4D0F-A610-1ECDD4320472</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7235DF2-444A-4099-8028-AA6BB29C958F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D0C7DE1-85C4-4272-B698-6779A496AEFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA80C35B-B5FE-49B8-8403-50B633CB98C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3025EFCE-04AC-4194-B8F9-8BC710AD7A26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8C8E10D-138B-4BA8-B844-50193BFF888F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3025EFCE-04AC-4194-B8F9-8BC710AD7A26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCE8E1D5-0E70-4A87-9CEA-3EADBD05EA5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3025EFCE-04AC-4194-B8F9-8BC710AD7A26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>atsushi</string>
	<key>description</key>
	<string>Add task to Asana</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Asana</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl -H "Authorization: Bearer 0/b99bf7efc19c8de26a5cc091b1e86ff5" https://app.asana.com/api/1.0/tasks \
-d "workspace=128462671696238" \
-d "projects=266598637059794" \
-d "name=`echo $1`" \
-d "due_on=`date '+%Y-%m-%d'`" \
-d "tags=266647376591543" \
-d "assignee=128457654137255" &gt;&amp; /dev/null

echo "新しいタスク「Development：$1」を追加しました！"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FCE8E1D5-0E70-4A87-9CEA-3EADBD05EA5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>asana</string>
				<key>subtext</key>
				<string>add a Development tag</string>
				<key>text</key>
				<string>Add Development Task to Asana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>354E2DD0-8D98-40D2-8758-F59946C2925D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl -H "Authorization: Bearer 0/b99bf7efc19c8de26a5cc091b1e86ff5" https://app.asana.com/api/1.0/tasks \
-d "workspace=128462671696238" \
-d "projects=266598637059794" \
-d "name=`echo $1`" \
-d "due_on=`date '+%Y-%m-%d'`" \
-d "tags=266647376591533" \
-d "assignee=128457654137255" &gt;&amp; /dev/null

echo "新しいタスク「Meeting：$1」を追加しました！"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D0C7DE1-85C4-4272-B698-6779A496AEFA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>asana</string>
				<key>subtext</key>
				<string>add a Meeting tag</string>
				<key>text</key>
				<string>Add  Meeting Task to Asana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B7235DF2-444A-4099-8028-AA6BB29C958F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl -H "Authorization: Bearer 0/b99bf7efc19c8de26a5cc091b1e86ff5" https://app.asana.com/api/1.0/tasks \
-d "workspace=128462671696238" \
-d "projects=266598637059794" \
-d "name=`echo $1`" \
-d "due_on=`date '+%Y-%m-%d'`" \
-d "tags=267084001155070" \
-d "assignee=128457654137255" &gt;&amp; /dev/null

echo "新しいタスク「Seminar：$1」を追加しました！"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3BCB9534-C235-45AD-9E23-F3B985398AD3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>asana</string>
				<key>subtext</key>
				<string>add a Seminar tag</string>
				<key>text</key>
				<string>Add  Seminar Task to Asana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0A162C00-0F63-495D-B387-421BDEECEBF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Add Task to Asana</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3025EFCE-04AC-4194-B8F9-8BC710AD7A26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl -H "Authorization: Bearer 0/b99bf7efc19c8de26a5cc091b1e86ff5" https://app.asana.com/api/1.0/tasks \
-d "workspace=128462671696238" \
-d "projects=266598637059794" \
-d "name=`echo $1`" \
-d "due_on=`date '+%Y-%m-%d'`" \
-d "tags=266647376591536" \
-d "assignee=128457654137255" &gt;&amp; /dev/null

echo "新しいタスク「Operation：$1」を追加しました！"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F8C8E10D-138B-4BA8-B844-50193BFF888F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>asana</string>
				<key>subtext</key>
				<string>add an Operation tag</string>
				<key>text</key>
				<string>Add  Operation Task to Asana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3CA107DB-ABF0-47DA-A0DB-221397ADFB36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl -H "Authorization: Bearer 0/b99bf7efc19c8de26a5cc091b1e86ff5" https://app.asana.com/api/1.0/tasks \
-d "workspace=128462671696238" \
-d "projects=266598637059794" \
-d "name=`echo $1`" \
-d "due_on=`date '+%Y-%m-%d'`" \
-d "tags=266647376591535" \
-d "assignee=128457654137255" &gt;&amp; /dev/null

echo "新しいタスク「Other：$1」を追加しました！"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>377E61D4-5B47-4D0F-A610-1ECDD4320472</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>asana</string>
				<key>subtext</key>
				<string>add an Other tag</string>
				<key>text</key>
				<string>Add  Other Task to Asana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4DF46006-DFE1-4BC7-85E0-F029B12EBCF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>asana</string>
				<key>subtext</key>
				<string>add an ScrumEvent tag</string>
				<key>text</key>
				<string>Add  ScurmEvent Task to Asana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D7748CE-2ACD-4B58-BDB7-C0C61DBAF26B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl -H "Authorization: Bearer 0/b99bf7efc19c8de26a5cc091b1e86ff5" https://app.asana.com/api/1.0/tasks \
-d "workspace=128462671696238" \
-d "projects=266598637059794" \
-d "name=`echo $1`" \
-d "due_on=`date '+%Y-%m-%d'`" \
-d "tags=236929867412678" \
-d "assignee=128457654137255" &gt;&amp; /dev/null

echo "新しいタスク「ScrumEvent：$1」を追加しました！"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1C54EAE7-56B8-4647-8E40-C753ADDD6CEB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>asana</string>
				<key>subtext</key>
				<string>add an Study tag</string>
				<key>text</key>
				<string>Add  Study Task to Asana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3D888E77-DA94-4BC2-9E10-1986232D0735</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl -H "Authorization: Bearer 0/b99bf7efc19c8de26a5cc091b1e86ff5" https://app.asana.com/api/1.0/tasks \
-d "workspace=128462671696238" \
-d "projects=266598637059794" \
-d "name=`echo $1`" \
-d "due_on=`date '+%Y-%m-%d'`" \
-d "tags=351331356271185" \
-d "assignee=128457654137255" &gt;&amp; /dev/null

echo "新しいタスク「Study：$1」を追加しました！"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EA80C35B-B5FE-49B8-8403-50B633CB98C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use hotkeys to launch actions by pressing a key combination. You can connect one or more actions to be performed.

Hotkeys are stripped on import, to ensure that they don't clash with your existing hotkeys, so double-click the object and set your own hotkey.

A hotkey needs to contain a modifier (Cmd, Ctrl or Alt) and a keyboard character at least, but your best bet is to use slightly less common combinations (e.g. two modifiers) to avoid clashing with default OS X hotkeys or other apps on your Mac.</string>
	<key>uidata</key>
	<dict>
		<key>0A162C00-0F63-495D-B387-421BDEECEBF6</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>0D7748CE-2ACD-4B58-BDB7-C0C61DBAF26B</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>1C54EAE7-56B8-4647-8E40-C753ADDD6CEB</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>3025EFCE-04AC-4194-B8F9-8BC710AD7A26</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>354E2DD0-8D98-40D2-8758-F59946C2925D</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>377E61D4-5B47-4D0F-A610-1ECDD4320472</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>3BCB9534-C235-45AD-9E23-F3B985398AD3</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>3CA107DB-ABF0-47DA-A0DB-221397ADFB36</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>3D888E77-DA94-4BC2-9E10-1986232D0735</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>4D0C7DE1-85C4-4272-B698-6779A496AEFA</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>4DF46006-DFE1-4BC7-85E0-F029B12EBCF4</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>B7235DF2-444A-4099-8028-AA6BB29C958F</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>EA80C35B-B5FE-49B8-8403-50B633CB98C4</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>F8C8E10D-138B-4BA8-B844-50193BFF888F</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>FCE8E1D5-0E70-4A87-9CEA-3EADBD05EA5C</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
